html, body {
    margin: 0px;
    height: 100%;
    /*text-align: center;*/
}

#a1 {
    position: absolute;
    left: 10%;
    top: 25px;
    width: 80%;
    height: auto;
}

#a2 {
    position: absolute;
    left: 10%;
    top: 500px;
    width: 80%;
    height: auto;
}

#a3text {
    position: absolute;
    left: 10%;
    top: 1005px;
    width: 80%;
    height: auto;
}

#a3 {
    position: absolute;
    left: 10%;
    top: 1050px;
    width: 80%;
    height: auto;
}

#a4 {
    position: absolute;
    left: 10%;
    top: 1470px;
    width: 80%;
}

#a5 {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 100px;
}
