<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>商家推送时延</title>

    <link rel="stylesheet" href="__CSS__/divider.css">
    <link rel="stylesheet" href="__CSS__/styles.css">
    <link rel="stylesheet" href="__CSS__/table.css">
    <link rel="stylesheet" href="__CSS__/bigpage.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

    <script> var Home = '__Home__';</script>
    <script src="__JS__/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="__JS__/echarts.js"></script>
    <script src="__JS__/compage.js"></script>
    <script src="__JS__/tablesort.js"></script>
    <script>var data =JSON.parse( '{$data}');$('table').tablesort();</script>
    <script type="text/javascript" src="__JS__/push_comp_info.js"></script>
</head>
<body>
<div id="a11">
    <br><p id="companyid" style="display: none">{$companyid}</p><br>
    <span style="border-bottom:2px solid #2D96E9;font-size: 20px;font-weight:bold">商家推送时延</span>
    <div class="ui Inverted divider"></div><br/>
    <!--推送折线图-->
    <div id="push_figure" style="left:10%;width: 80%;height:400px;"></div>
    <script src="__JS__/comp_info.js"></script>
</div>
<div id="a21">
    <span style="border-bottom:2px solid #2D96E9;font-size: 20px;font-weight:bold">推送详细记录</span>

    <div class="ui Inverted divider"></div>
    <table class="ui sortable  celled table" id="comtable">
        <thead>
        <tr>
            <th>推送时间</th>
            <th>网关相应时间</th>
            <th>时延（秒）</th>
            <th>推送平台</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>$('table').tablesort();</script>
</div>
</body>
</html>