<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家详细信息</title>
    <link rel="stylesheet" href="__CSS__/table.css">
    <style>
        .main{
            position: absolute;
            left: 10%;
            top: 25px;
            width: 80%;
            height: auto;
        }
    </style>
</head>
<body>
<div class="main">
    <div>
        <table class="ui celled striped table" style="width:100%">
            <thead>
            <tr><th colspan="4">商家信息</th>
            </tr></thead>
            <tbody>
            <tr>
                <td class="collapsing" style="width:10%">商家名字 </td>
                <td style="width:40%"> {$CompanyName} </td>
                <td style="width:10%"> 公司编码 </td>
                <td style="width:40%"> {$CompanyCode} </td>
            </tr>
            <tr>
                <td> 公司ID </td>
                <td> {$CompanyID} </td>
                <td> 用户注册ID </td>
                <td> {$RegisterUserID} </td>
            </tr>
            <tr>
                <td class="collapsing"> 法人 </td>
                <td> {$RelationName} </td>
                <td> 法人电话 </td>
                <td> {$RelationPhone} </td>
            </tr>
            <tr>
                <td> 区域码 </td>
                <td> {$RegionCode} </td>
                <td> 法人QQ </td>
                <td> {$RelationQQ} </td>
            </tr>
            <tr>
                <td> 公司地址 </td>
                <td colspan="3"> {$CompanyAddress} </td>
            </tr>
            <tr>
                <td> 公司印象 </td>
                <td colspan="3">
                    {$CompanyMemo}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>